* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}
body {
  padding: 50px;
  background-color: lightyellow;
}
h1 {
  margin-bottom: 25px;
}
p {
  font-size: 16px;
}
